@import "~/assets/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mitr:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  overflow: hidden;
}

.btn-finish {
  background-color: rgb(1, 40, 112);
  padding: 8px 20px;
  border-radius: 5px;
  margin: 20px;
  border: none;
  color: white;
  font-size: 24px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;

  &:active {
    transform: translateY(10px);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
  }
}
