:root {
  --primary: #012870;
  --secondary: #4a99ff;
  --white: #ffffff;
  --black: #000000;
  --text-white: #ffffff;
  --text-primary: #012870;
  --text-secondary: #4a99ff;
  --text-black: #000000;
}
